[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
black = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
sqlalchemy = "*"
asyncpg = "*"

[requires]
python_version = "3.12"
